/* kotak1 */
.kotak1 {
  display: flex;
}
.kotak1 span {
  background-color: salmon;
  display: flex;
  width: 100px;
  height: 100px;
  position: relative;
  border: 1px solid #000000;
  font-family: arial;
  font-size: 30px;
  text-align: center;
  align-items: center;
  justify-content: space-around;
}
/* kotak2 */
.kotak2 {
  display: flex;
}
.kotak2 span {
  background-color: salmon;
  display: flex;
  width: 100px;
  height: 100px;
  position: relative;
  border: 1px solid #000000;
  font-family: arial;
  font-size: 30px;
  text-align: center;
  align-items: center;
  justify-content: space-around;
}
/* kotak3 */
.kotak3 {
  display: flex;
}
.kotak3 span {
  background-color: salmon;
  display: flex;
  width: 100px;
  height: 100px;
  position: relative;
  border: 1px solid #000000;
  font-family: arial;
  font-size: 30px;
  text-align: center;
  align-items: center;
  justify-content: space-around;
}
